
html, body {
    margin: 0;
    
}

body {
    color: #2e2c2ce3;
    background: #e7eaee;
    text-transform: uppercase;
    font-family: 'Varela Round', sans-serif;
}
.container-fluid {
    display: flex;
    height:100vh;
    background-image: url(/Images/LandingImage.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    align-items: center;
    justify-content: center;
    border-bottom-style: solid;
    border-top-style: solid;
    border-color: black;
    border-width: 25px;
    
}
.container-fluid img {
    opacity: 0;
    background-color: rgba(255, 255, 255, 0.25);
    width: 100vw;
    border-radius: 2px;
    animation: transitionInFast 2s forwards;
    backdrop-filter: blur(10px);
}
.navbar {
    padding: 15px 0px ;
}

.smallLogo {
    height: 64px;
    width: 64px;
}


.container {
    margin-top: 50px;
    background-color: #e7eaee;
    border-bottom-style: solid;
    border-color: black;
    border-width: 1px;
    
}
.one {
    border-bottom-style: solid;
    border-color: black;
    border-width: 1px;
    padding-bottom: 20px;
}
.col-md-8 h1 {
    font-size: 30px;
}

.col-md-8 h2 {
    font-size: 15px;
 }
.col-md-4 h1 {
    background-color: rgba(182, 17, 17, 0.5);
    font-size: 20px;
    text-align: left;
    padding: 10px;
    margin: 0;
}


.bottom {
    width: 100%;
}
.bottom img {
    height: 100%;
    width: 100%;
    box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.5);
}
.food img {
    margin-bottom: 10px;
    height: auto;
    width: 100%;
}

.stretch {
    padding: 0px;
    margin-left: 25px;
}
.col-md-4 p2 {
    background-color: rgba(182, 17, 17, 0.5);
    font-size: 20px;
    text-align: left;
    padding: 10px;
}
.col-md-4 p3 {
    font-size: 14px;
    padding-left: 10px;
}
.col-sm-6 {
    border-width: 1px;
    border-top-style: solid;
 }

 .row .col-md-7 h2{
    padding: 10px;
    border-bottom-style: solid;
    border-width: 1px;
    border-color: black;
 }

 .three form{
    padding: 10px;
    font-size: 25px;
 }

 .three button {
     opacity: 75%;
     border-radius: 3px;
 }

 .three button:hover {
     transform:scale(1.1);
     opacity: 100%;
}

.row .right {
    padding: 10px;
}

.col-sm-6 {
    padding: 10px;
}

.two h1 {
    font-size: 34px
}

.two img {
    box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.5);
}
.Last h1 {
    margin-top: 25px;
    text-align: center;
}
footer {
    margin-top: 10px;
}
footer .navbar {
    background-color: rgba(255, 255, 255, 0.5);
    justify-content: center;
}
footer h1 {
    margin: 0;
    font-size: 15px;
}


@keyframes transitionInFast {
    from {
        opacity: 0;
        transform: translateY(-500px)
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 768px) {
    .three form {
        text-align: center;

    }

    .three button {
        margin-top: 10px;
    }
}  
@media (min-width: 576px) {
    header .navbar {
        opacity: 0;
    }

    .container-fluid img {
        height: 208px;
        width: 486px;
    }
    .col-md-4 {
        border-left-style: solid;
        border-color: black;
        border-width: 1px;
    
    }

}
@media (min-width: 768px) {


}

@media (min-width: 992px) {
    .col-md-4 p3 {
        font-size: 18px;
    }

}
